___
# Exercício: <p> <center> Manipulação de um `DataFrame` com uso do **Pandas**
___

## Aula 01

<div id="indice"></div>

## Índice

- [Gapminder](#gap)
- [Exercício 1](#ex1) **- APS1 disponível no Blackboard**
- [Exercício 2](#ex2) **- APS1 disponível no Blackboard**
- [Resumo dos comandos](#resumo-comandos)

___
**IMPORTANTE**: os exercícios marcados com &#x2605;&#x2605;&#x2605; são mais difíceis e vão exigir que você aprenda novas funções do pandas. Recomendamos que vocês tentem fazer esses exercícios mesmo depois da aula.

<div id="gap"></div>

___

## Gapminder

Gapminder é uma fundação sueca independente, sem afiliações políticas, religiosas ou econômicas.
Possui diversas estatísticas socioeconômicas de quase todos países do mundo que podem ser facilmente obtidas por este [link](https://www.gapminder.org/data/).

Para visualizar relações entre alguns indicadores dos países, veja [aqui](https://www.gapminder.org/tools/)

O arquivo `Gapminder.xlsx` contém um *dataset* extraída do software R (mais detalhes [aqui](https://rdrr.io/cran/dslabs/man/gapminder.html)).

Essa base de dados precisa de algumas manipulações antes de iniciar a análise exploratória, entretanto, a mesma irá depender do problema traçado. Nesse *dataframe*, os indicadores estão mensurados para 185 países os quais se repetem entre os anos de 1960 e 2016.

In [1]:
# Importando as bibliotecas necessárias para esta atividade
import pandas as pd
import os

In [2]:
print(f'Esperamos trabalhar no diretório: \n{os.getcwd()}\n')

Esperamos trabalhar no diretório:
/Users/cauedagostinho/Documents/Insper/2˚sem/Cdados

In [3]:
filename = 'Gapminder.xlsx'

if filename in os.listdir():
    print(f'Parece que o arquivo {filename} está na mesma pasta do notebook, yay!')
    
else:
    print(f'Não encontrei o arquivo {filename}.\n'
          f'Esse deve ser salvo na mesma pasta em que se encontrar este arquivo jupyter notebook')

Não encontrei o arquivo Gapminder.xlsx.
Esse deve ser salvo na mesma pasta em que se encontrar este arquivo jupyter notebook

**ATENÇÃO:** <br>
Prosseguir nesta atividade apenas se a mensagem `Parece que o arquivo Gapminder.xlsx está na mesma pasta do notebook, yay!'` aparecer após ter executado o código acima.<br>

...

A seguir, o arquivo `Gapminder.xlsx` será aberto com uso da biblioteca **Pandas** e seu conteúdo será armazenado em uma variável nomeada `gap`.

In [11]:
gap = pd.read_excel('data/Gapminder.xlsx')

Aqui, `gap` é uma variável do tipo `DataFrame`. Cada uma das colunas significa:

- **country**: nome do país;
- **year**: ano;
- **infant_mortality**: mortalidade infantil a cada 1000 nascidos;
- **life_expectancy**: expectativa de vida;
- **fertility**: número médio de filhos por mulher;
- **population**: população do país;
- **gpd**: PIB de acordo com World Bankdev;
- **continent**: continente;
- **region**: região geográfica.

In [12]:
gap.head()

,country,year,infant_mortality,life_expectancy,fertility,population,gdp,continent,region
0,Albania,1960,115.40,62.87,6.19,1636054.0,NaN,Europe,Southern Europe
1,Algeria,1960,148.20,47.50,7.65,11124892.0,1.382815e+10,Africa,Northern Africa
2,Angola,1960,208.00,35.98,7.32,5270844.0,NaN,Africa,Middle Africa
3,Antigua and Barbuda,1960,NaN,62.97,4.43,54681.0,NaN,Americas,Caribbean
4,Argentina,1960,59.87,65.39,3.11,20619075.0,1.083223e+11,Americas,South America

[Voltar ao Índice](#indice)

<div id="ex1"></div>

___

### EXERCÍCIO 1

Faça as seguintes manipulações:
 1. Filtre apenas as linhas do ano 2010 e selecione as variáveis: `country`, `gdp`, `population` e `continent`
 1. Guarde o subconjunto anterior em um novo `DataFrame` chamado `gap2010` e, nele, crie a variável `gdp_cap` que contenha o PIB per capita.
 1. Encontre o país com menor PIB per capita em 2010. 
 1. **Preencha o valor do PIB per capita desse país no campo de resposta do questionário do Blackboard (APS1).**

**Dica**: use `gap.dtypes` para saber o tipo de cada variável. Ainda, consulte [aqui](https://cmdlinetips.com/2019/01/3-ways-to-add-new-columns-to-pandas-dataframe/) para entender como criar novas colunas em um *dataframe*.

In [28]:
# Coloque seu código aqui...
gap2010 = gap[gap['year'] == 2010][['country', 'gdp', 'population', 'continent']].copy()
gap2010 = gap2010.reset_index(drop=True)

In [117]:
gap2010['gdp_cap'] = gap2010['gdp'] / gap2010['population']

In [134]:
indx = gap2010['gdp_cap'].idxmin()
print(indx)

37

In [135]:
gap2010.iloc[[indx]]

             country           gdp  population continent     gdp_cap
37  Congo, Dem. Rep.  6.961485e+09  65938712.0    Africa  105.575083

In [123]:
gap2010

                 country           gdp  population continent       gdp_cap
0                Albania  6.137564e+09   2901883.0    Europe   2115.028051
1                Algeria  7.916434e+10  36036159.0    Africa   2196.802928
2                 Angola  2.612566e+10  21219954.0    Africa   1231.183784
3    Antigua and Barbuda  8.366868e+08     87233.0  Americas   9591.402074
4              Argentina  4.344055e+11  41222875.0  Americas  10537.972673
..                   ...           ...         ...       ...           ...
180   West Bank and Gaza           NaN   4068780.0      Asia           NaN
181              Vietnam  6.283222e+10  88357775.0      Asia    711.111337
182                Yemen  1.463827e+10  23591972.0      Asia    620.476544
183               Zambia  5.587390e+09  13917439.0    Africa    401.466811
184             Zimbabwe  4.032423e+09  13973897.0    Africa    288.568280

[185 rows x 5 columns]

[Voltar ao Índice](#indice)

<div id="ex2"></div>

___

### EXERCÍCIO 2 &#x2605;&#x2605;&#x2605;

Faça as seguintes manipulações:
  1. Encontre os cinco maiores países (em tamanho populacional) do ano de 2015;
  1. Guarde apenas os nomes desses cinco países em uma lista;
  1. Considerando a base de dados com todos os anos, filtre as linhas que contenham apenas os cinco países dessa lista e com as colunas  `country`, `year`, `gdp` e `population`. Guarde esse subconjunto em `gap5`;
  1. No `DataFrame` `gap5`, crie a variável `dollar_day`, a qual representa uma *proxy* da renda per capita diária do país;
  1. **Preencha o valor da renda per capita diária de cada país no ano de 1960, em ordem crescente. no campo de resposta do questionário do Blackboard (APS1).**

**Dica**: Para filtrar as linhas apenas dos cinco países selecionados no item 1 deste exercício, pesquise por:
  - `isin`: retorna booleano se conteúdo da variável faz parte ou não de uma lista. Consulte sobre esse comando `isin` [aqui](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html)

In [105]:
# Coloque seu código aqui...
data = gap.copy()
df = data.loc[data['year'] == 2015]

In [106]:
maiores_paises = df.nlargest(columns=['population'], n=5)

In [107]:
maiores_paises

,country,year,infant_mortality,life_expectancy,fertility,population,gdp,continent,region
10209,China,2015,9.2,76.2,1.57,1.376049e+09,NaN,Asia,Eastern Asia
10251,India,2015,37.9,67.2,2.43,1.311051e+09,NaN,Asia,Southern Asia
10350,United States,2015,5.6,79.1,1.97,3.217736e+08,NaN,Americas,Northern America
10252,Indonesia,2015,22.8,71.1,2.28,2.575638e+08,NaN,Asia,South-Eastern Asia
10197,Brazil,2015,14.6,74.4,1.78,2.078475e+08,NaN,Americas,South America

In [108]:
lista_maiores_paises_pop = list(maiores_paises['country'])
lista_maiores_paises_pop

['China', 'India', 'United States', 'Indonesia', 'Brazil']

In [127]:
gap5 = data[['country', 'year', 'gdp', 'population']].copy()
gap5 = gap5[gap5['country'].isin(lista_maiores_paises_pop)]

In [128]:
gap5['dollar_day'] = (gap5['gdp'] / gap5['population']) / 365

In [129]:
gap5

             country  year           gdp   population  dollar_day
22            Brazil  1960  1.053434e+11   72493585.0    3.981207
34             China  1960  7.034853e+10  644450173.0    0.299070
76             India  1960  8.104265e+10  449661874.0    0.493781
77         Indonesia  1960  1.844892e+10   87792512.0    0.575732
175    United States  1960  2.479391e+12  186176524.0   36.486084
...              ...   ...           ...          ...         ...
10382         Brazil  2016           NaN          NaN         NaN
10394          China  2016           NaN          NaN         NaN
10436          India  2016           NaN          NaN         NaN
10437      Indonesia  2016           NaN          NaN         NaN
10535  United States  2016           NaN          NaN         NaN

[285 rows x 5 columns]

In [132]:
ppc1960 = gap5.loc[gap5['year'] == 1960]
ppc1960 = list(ppc1960['dollar_day'].values)

In [137]:
ppc1960

[3.9812074238130437,
 0.2990699656826497,
 0.4937814029996639,
 0.5757322397821697,
 36.48608408793266]

[Voltar ao Índice](#indice)

<div id="resumo-comandos"></div>

## Resumo dos Comandos

Aqui você encontra um resumo dos comandos apresentados neste notebook:

- [`dtypes`](#ex1): mostra o tipo de cada variável do *dataframe*.
- [`isin`](#ex2): avalia, por exemplo, se conteúdo de uma coluna do *dataframe* faz parte ou não de uma lista.
- [`.idxmin()`](#ex3): retorna a linha inteira que está localizado o valor mínimo de certa coluna