___
# Exercício: <p> <center> Análise Exploratória - Associação entre duas Variáveis Quantitativas
___

## Aula 09

___
<div id="indice"></div>

## Índice

- [Discriminação Salarial](#discriminacao-salarial)
    - [Exercício 1](#ex1) **- APS5 disponível no Blackboard**
    - [Exercício 2](#ex2) 
    - [Exercício 3](#ex3) **- APS5 disponível no Blackboard**
    - [Exercício 4](#ex4) **- APS5 disponível no Blackboard**
    - [Exercício 5](#ex5) **- APS5 disponível no Blackboard**
    - [Exercício 6](#ex6) **- APS5 disponível no Blackboard**
    - [Exercício 7](#ex7)
    - [Exercício 8](#ex8)
    - [Exercício 9 [EXTRA]](#ex9)
    - [Exercício 10 [EXTRA]](#ex10)
    - [Exercício 11 [EXTRA]](#ex11)

In [1]:
#%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/cauedagostinho/Documents/Insper/2˚sem/Cdados

___
<div id="discriminacao-salarial"></div>

# Discriminação Salarial

<img src="disparidade-salarial.jpg" height="400">

Fonte: extraído da internet

Uma empresa está sendo **acusada de pagar um salário maior para os homens do que para as mulheres**. 
Para justificar a acusação, apresentou-se uma lista de salários de uma amostra de funcionários. 
**Essa empresa tem motivos para se preocupar?**

A base de dados `Discriminação.xlsx` apresenta, para cada funcionário, as variáveis:

1. Sexo: `'fem'` ou `'masc'`;
2. Anos: anos no emprego; e 
3. Salario: remuneração mensal, em milhares de reais.

In [2]:
dados = pd.read_excel('data/Discriminacao.xlsx')

In [3]:
dados.head()

  Sexo  Anos  Salario
0  fem     9       39
1  fem     6       36
2  fem    10       40
3  fem     0       24
4  fem     9       36

___

<div id="ex1"></div>

### EXERCÍCIO 1:

Vamos começar com uma análise descritiva utilizando as ferramentas estatísticas e computacionais que vimos até o momento. Faça essa análise com olhar na preocupação da empresa. Imprima as medidas resumo de posição (média, quartis, máximo, mínimo) e de dispersão (desvio padrão) para o `Salario` dos seguintes grupos:

1. Conjunto de dados inteiro
2. Somente mulheres
3. Somente homens

**Preencha os valores das 3 médias na questão 1 da APS5, no Blackboard**.

In [4]:
# Escreva seu código aqui
dados.describe()

            Anos    Salario
count  67.000000  67.000000
mean    9.194030  38.343284
std     6.851761  10.221119
min     0.000000  22.000000
25%     4.000000  31.000000
50%     9.000000  37.000000
75%    13.500000  42.000000
max    27.000000  69.000000

In [5]:
dados.loc[dados['Sexo'] == 'fem'].describe()

            Anos    Salario
count  32.000000  32.000000
mean    6.937500  35.468750
std     4.858896   7.422652
min     0.000000  22.000000
25%     3.000000  29.750000
50%     6.500000  35.000000
75%    10.000000  40.000000
max    17.000000  52.000000

In [6]:
dados.loc[dados['Sexo'] == 'masc'].describe()

            Anos    Salario
count  35.000000  35.000000
mean   11.257143  40.971429
std     7.773798  11.733526
min     0.000000  24.000000
25%     5.500000  33.000000
50%    11.000000  39.000000
75%    18.000000  47.000000
max    27.000000  69.000000

<div id="ex2"></div>

### EXERCÍCIO 2:

Baseando-se nos resultados acima, que indícios você pode formular quanto a suspeita de que a empresa está pagando salários mais baixos às mulheres?

ESCREVA AQUI SUA RESPOSTA

<div id="ex3"></div>

### EXERCÍCIO 3:

Calcule os coeficientes de covariância entre as variáveis `Anos` e `Salario` para as mulheres e para os homens, separadamente. **Preencha os dois valores na questão 2 da APS5, no Blackboard**.

In [9]:
# Escreva seu código aqui
fem = dados.loc[dados['Sexo'] == 'fem']
masc = dados.loc[dados['Sexo'] == 'masc']

cov_anos_sal_fem = fem['Anos'].cov(fem['Salario'])
print(f'Covariância Anos X Salário feminino: {cov_anos_sal_fem:.3f}')

cov_anos_sal_masc = masc['Anos'].cov(masc['Salario'])
print(f'Covariância Anos X Salário feminino: {cov_anos_sal_masc:.3f}')

Covariância Anos X Salário feminino: 28.933
Covariância Anos X Salário feminino: 61.478

<div id="ex4"></div>

### EXERCÍCIO 4:

Baseando-se nos **coeficientes de covariância** acima, você pode concluir que (indique todas as opções corretas):

<ol style="list-style-type: upper-alpha;">
    <li>Existe uma associação linear <b>negativa</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>negativa</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
    <li>Existe uma associação linear <b>positiva</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>positiva</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
    <li>Existe uma associação linear <b>fraca</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>fraca</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
    <li>Existe uma associação linear <b>moderada/forte</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>moderada/forte</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
</ol>

**Indique sua resposta na questão 3 da APS5, no Blackboard.**

ESCREVA SUA RESPOSTA AQUI

<div id="ex5"></div>

### EXERCÍCIO 5:

Calcule os coeficientes de correlação linear entre as variáveis `Anos` e `Salario` para as mulheres e para os homens, separadamente. **Preencha os dois valores na questão 4 da APS5, no Blackboard**.

In [ ]:
# Escreva seu código aqui

<div id="ex6"></div>

### EXERCÍCIO 6:

Baseando-se nos **coeficientes de correlação linear** acima, você pode concluir que (indique todas as opções corretas):

<ol style="list-style-type: upper-alpha;">
    <li>Existe uma associação linear <b>negativa</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>negativa</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
    <li>Existe uma associação linear <b>positiva</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>positiva</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
    <li>Existe uma associação linear <b>fraca</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>fraca</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
    <li>Existe uma associação linear <b>moderada/forte</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> das mulheres</li>
    <li>Existe uma associação linear <b>moderada/forte</b> entre os <code>Anos</code> na empresa e o <code>Salario</code> dos homens</li>
</ol>

**Indique sua resposta na questão 5 da APS5, no Blackboard.**

ESCREVA SUA RESPOSTA AQUI

<div id="ex7"></div>

### EXERCÍCIO 7:

Gere os gráficos de dispersão de anos na empresa versus salário mensal para as mulheres e para os homens. Utilize cores diferentes para cada grupo e gere o gráfico em **uma figura única**.

In [ ]:
# Escreva seu código aqui

<div id="ex8"></div>

### EXERCÍCIO 8:

Como as informações do gráfico acima se relacionam às suas hipóteses no [exercício 2](#ex2)? Você mudaria a sua opinião quanto à suspeita de discriminação salarial? Explique.

ESCREVA AQUI SUA RESPOSTA

<div id="ex9"></div>

### EXERCÍCIO 9 [EXTRA]:

Vamos analisar os dados divididos por faixas de anos na empresa. Crie uma nova coluna `'Faixa'` em `dados` contendo as faixas de anos na empresa. Divida a variável `Anos` em tantas faixas necessárias necessárias para iniciar em 0 (inclusive) e terminar em 30 (exclusive) com amplitude das faixas de 3 anos. *Dica: use a função `pd.cut` e altere alguns argumentos dessa função*.

In [ ]:
# Escreva seu código aqui

<div id="ex10"></div>

### EXERCÍCIO 10 &#x2605;&#x2605;&#x2605; [EXTRA]:

Imprima as mesmas estatísticas do [exercício 1](#ex1) (salários de todas as pessoas da base de dados, salários das mulheres e salários dos homens), mas agora agrupando por `Faixa`. Dica: use a função `.groupby` de um `DataFrame`.

In [ ]:
# Escreva seu código aqui

<div id="ex11"></div>

### EXERCÍCIO 11 [EXTRA]:

O resultado acima dá indícios para confirmar ou rejeitar a sua hipótese do [exercício 8](#ex8)?

ESCREVA AQUI SUA RESPOSTA