In [1]:
import pandas as pd
import random

In [2]:
# Transforma string em inteiro
def nome_para_inteiro(nome):
    nome = nome.upper()  # Converter para maiúsculas para tratar maiúsculas e minúsculas da mesma forma
    valor_inteiro = 0
    
    for letra in nome:
        # Verificar se a letra está no alfabeto (A a Z)
        if 'A' <= letra <= 'Z':
            valor_inteiro += ord(letra) - ord('A') + 1  # Valor de 'A' é 1, 'B' é 2, ..., 'Z' é 26
    
    return valor_inteiro

In [3]:
# Ler o arquivo de dados
dados = pd.read_excel('data/dados.xlsx')

In [4]:
# Perguntar a quantidade de alunos no grupo (2 ou 3)
while True:
    try:
        quantidade_alunos = int(input("Quantidade de alunos no grupo (2 ou 3): "))
        if quantidade_alunos in [2, 3]:
            break
        else:
            print("Por favor, insira 2 ou 3.")
    except ValueError:
        print("Por favor, insira um número válido.")

Quantidade de alunos no grupo (2 ou 3): 3

In [5]:
nome = input("Digite seu nome: ")
valor_inteiro = nome_para_inteiro(nome)

Digite seu nome: Cauê Pileckas

In [6]:
# Embaralhar as linhas do conjunto de dados
dados_embaralhados = dados.sample(frac=1, random_state=valor_inteiro)

In [7]:
# Separar os dados de treino e teste com base na quantidade de alunos
if quantidade_alunos == 2:
    dados_treino = dados_embaralhados.head(300)
    dados_teste = dados_embaralhados.tail(200)
else:
    dados_treino = dados_embaralhados.head(500)
    dados_teste = dados_embaralhados.tail(250)
    
dados_treino.columns = ['Mensagem']
dados_teste.columns = ['Mensagem']
dados_treino

                                              Mensagem
525  Pelo menos no Livro 1 - A guerra dos tronos, a...
298  Não gostei. O livro o tempo todo traz narrativ...
109  Ok, tem partes picantes legais, mas grande par...
695  A estoria de amor entre duas pessoas psicologi...
194  Péssimo livro. Ao mesmo tempo que tenta vanglo...
..                                                 ...
990  CLARO QUE AS ESTRELAS NÃO SÃO PAR A OBRA, MAS ...
901  Tenho muitos livros sobre a Segunda Guerra mun...
475  Na época que estourou eu paguei 105 na edição ...
160  Livro apenas comenta sobre o que é leitura ráp...
259  Péssimo. Difícil uma biografia tão ruim como e...

[500 rows x 1 columns]

In [9]:
# Salvar os dados de treino e teste em arquivos Excel
dados_treino.to_excel('data/dados_treino.xlsx', index=False, engine='openpyxl')
dados_teste.to_excel('data/dados_teste.xlsx', index=False, engine='openpyxl')

print("Dados de treino e teste foram salvos em 'dados_treino.xlsx' e 'dados_teste.xlsx'.")

Dados de treino e teste foram salvos em 'dados_treino.xlsx' e 'dados_teste.xlsx'.