# Projeto 1 - Ciência dos Dados

Nome: __Cauê Pileckas___

Nome: __Otávio Bianco___

Nome: __Victor Faria___

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re 
from unidecode import unidecode

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
/Users/cauedagostinho/Documents/Insper/2˚sem/Cdados/Projeto 1

Carregando a base de dados com os tweets classificados manualmente:

In [3]:
train = pd.read_excel('data/dados_treino.xlsx')
train.head(5)

                                            Mensagem    Target
0  Pelo menos no Livro 1 - A guerra dos tronos, a...  Conteúdo
1  Não gostei. O livro o tempo todo traz narrativ...  Conteúdo
2  Ok, tem partes picantes legais, mas grande par...  Conteúdo
3  A estoria de amor entre duas pessoas psicologi...  Conteúdo
4  Péssimo livro. Ao mesmo tempo que tenta vanglo...  Conteúdo

In [4]:
test = pd.read_excel('data/dados_teste.xlsx')
test.head(5)

                                            Mensagem    Target
0  Um livro sensacional. Tenho aplicado o conceit...    Outros
1  A edição traz uma introdução que é puro spoile...  Conteúdo
2                    É tão ruim quanto o canal dele.    Outros
3  É um livro baseado no fator motivacional e em ...  Conteúdo
4  Olar, Frequentemente tendo sua marca, merecida...    Outros

___
## Classificador automático

Faça aqui uma descrição do seu assunto e o que considerou como relevante ou não relevante na classificação dos tweets (Target).

ESCREVA AQUI...

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

In [5]:
def cleanup(text):
    """
        Função de limpeza muito simples que troca alguns sinais básicos por espaços
    """
    #import string
    punctuation = '[´"!-.:?;$'']' # Note que os sinais [] são delimitadores de um conjunto.
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    unidecode_text = unidecode(text_subbed)
    return unidecode_text.lower()

def retorna_lista_mensagens(df, target):
    lista_palavras_conteudo = []
    palavras_conteudo = []


    for index, row in df.iterrows():
        if row['Target'] == target:
            lista_palavras_conteudo.append(row['Mensagem'].split())
        
    for lista in lista_palavras_conteudo:
        for i in range(len(lista)):
            palavras_conteudo.append(lista[i])
            
    return palavras_conteudo

In [6]:
train['Mensagem'] = train['Mensagem'].apply(cleanup)

In [66]:
# lista_index_out = ['e', 'de', 'o', 'que', 'a', 'do', 'da', 'um', 'os', 'em', 'se', 'na', 'no']
lista_index_out = []

In [87]:
conteudo = retorna_lista_mensagens(train, 'Conteúdo')
serie_conteudo = pd.Series(conteudo)
df_conteudo_normalized = (serie_conteudo.value_counts(normalize=True)).to_frame()
df_conteudo_normalized = df_conteudo_normalized[~df_conteudo_normalized.index.isin(lista_index_out)]

conteudo_normalized = df_conteudo_normalized.copy()
conteudo_normalized['palavras'] = conteudo_normalized.index
conteudo_normalized = conteudo_normalized.reset_index(drop=True)
conteudo_normalized.head(10)

          0 palavras
0  0.046366        e
1  0.035154       de
2  0.034032        o
3  0.032845      que
4  0.030537        a
5  0.021105    livro
6  0.020050      nao
7  0.013916       um
8  0.012597       do
9  0.010487       da

In [86]:
produto = retorna_lista_mensagens(train, 'Produto')
serie_produto = pd.Series(produto)
df_produto_normalized = (serie_produto.value_counts(normalize=True)).to_frame()
df_produto_normalized = df_produto_normalized[~df_produto_normalized.index.isin(lista_index_out)]

produto_normalized = df_produto_normalized.copy()
produto_normalized['palavras'] = produto_normalized.index
produto_normalized = produto_normalized.reset_index(drop=True)
produto_normalized.head(10)

          0 palavras
0  0.040913        e
1  0.037016        a
2  0.032285        o
3  0.029780       de
4  0.028110      que
5  0.020039      nao
6  0.019204    livro
7  0.013916      com
8  0.013359       do
9  0.012803      uma

In [85]:
outros = retorna_lista_mensagens(train, 'Outros')
serie_outros = pd.Series(outros)
df_outros_normalized = (serie_outros.value_counts(normalize=True)).to_frame()
df_outros_normalized = df_outros_normalized[~df_outros_normalized.index.isin(lista_index_out)]

outros_normalized = df_outros_normalized.copy()
outros_normalized['palavras'] = outros_normalized.index
outros_normalized = outros_normalized.reset_index(drop=True)
outros_normalized.head(10)

          0 palavras
0  0.043569        e
1  0.037456        o
2  0.033424       de
3  0.030303        a
4  0.029263      que
5  0.026141      nao
6  0.019508    livro
7  0.015867       um
8  0.012485       do
9  0.011965     para

In [81]:
df_teste = test
df_teste['Mensagem'] = (test['Mensagem'].apply(cleanup)).to_frame()
df_teste.head(5)

                                            Mensagem    Target
0  um livro sensacional tenho aplicado o conceito...    Outros
1  a edicao traz uma introducao que e puro spoile...  Conteúdo
2                     e tao ruim quanto o canal dele    Outros
3  e um livro baseado no fator motivacional e em ...  Conteúdo
4  olar frequentemente tendo sua marca merecidame...    Outros

In [98]:
df_teste['Robot'] = None
df_teste

                                              Mensagem    Target Robot
0    um livro sensacional tenho aplicado o conceito...    Outros  None
1    a edicao traz uma introducao que e puro spoile...  Conteúdo  None
2                       e tao ruim quanto o canal dele    Outros  None
3    e um livro baseado no fator motivacional e em ...  Conteúdo  None
4    olar frequentemente tendo sua marca merecidame...    Outros  None
..                                                 ...       ...   ...
245  muito fraco e passional visao distorcida de di...    Outros  None
246  nas primeiras paginas ja temos o proposito do ...  Conteúdo  None
247  achei um livro muito superficial e enfadonho o...    Outros  None
248  a menos que queira uma versao pocket nao compr...    Outros  None
249  a edicao e maravilhosa o preco bom contudo o l...    Outros  None

[250 rows x 3 columns]

In [104]:
line_conteudo = conteudo_normalized.loc[conteudo_normalized['palavras'] == 'e']
probabilidade_conteudo = (line_conteudo[0].values)[0]
probabilidade_conteudo

0.046365914786967416

In [106]:
prod_probs_conteudo = 1
prod_probs_produto = 1
prod_probs_outros = 1

for index, row in df_teste.iterrows():
    lista_dividida = row['Mensagem'].split()
    print(lista_dividida)
    
    # conteúdo
    for palavra in lista_dividida:
        print(palavra)
        line_conteudo = conteudo_normalized.loc[conteudo_normalized['palavras'] == palavra]
        probabilidade_conteudo = (line_conteudo[0].values)[0]
        prod_probs_conteudo *= prod_probs_conteudo
        
    for palavra in lista_dividida:
        line_produto = produto_normalized.loc[produto_normalized['palavras'] == palavra]
        probabilidade_produto = (line_produto[0].values)[0]
        prod_probs_produto *= probabilidade_produto
        
    for palavra in lista_dividida:
        line_outros = outros_normalized.loc[outros_normalized['palavras'] == palavra]
        probabilidade_outros = (line_outros[0].values)[0]
        prod_probs_outros *= probabilidade_outros
            
    if prod_probs_conteudo == max([prod_probs_conteudo, prod_probs_produto, prod_probs_outros]):
        row['Robot'] = 'Conteúdo'
        
    elif prod_probs_produto == max([prod_probs_conteudo, prod_probs_produto, prod_probs_outros]):
        row['Robot'] = 'Produto'
        
    elif prod_probs_produto == max([prod_probs_conteudo, prod_probs_produto, prod_probs_outros]):
        row['Robot'] = 'Outros'

['um', 'livro', 'sensacional', 'tenho', 'aplicado', 'o', 'conceito', 'para', 'adotar', 'novos', 'habitos', 'positivos', 'em', 'varias', 'areas', 'da', 'minha', 'vida', 'bom', 'dia']
um
livro
sensacional

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
df_train_normalized = pd.DataFrame(columns=['Produto', 'Conteúdo', 'Outros'])

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Trabalhos que conseguirem pelo menos conceito B vão evoluir em conceito dependendo da quantidade de itens avançados:

* IMPLEMENTOU outras limpezas e transformações que não afetem a qualidade da informação contida nos tweets. Ex: stemming, lemmatization, stopwords
* CONSIDEROU mais de duas categorias na variável Target e INCREMENTOU a quantidade de notícias, mantendo pelo menos 250 notícias por categoria (OBRIGATÓRIO PARA TRIOS, sem contar como item avançado)
* Para Target com duas categorias: CRIOU pelo menos quatro categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante
* EXPLICOU porquê não pode usar o próprio classificador para gerar mais amostras de treinamento
* PROPÔS diferentes cenários para Naïve Bayes fora do contexto do projeto (pelo menos dois cenários, exceto aqueles já apresentados em sala pelos professores: por exemplo, filtro de spam)
* SUGERIU e EXPLICOU melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)
* FEZ o item Qualidade do Classificador a partir de novas separações das Notícias entre Treinamento e Teste descrito no enunciado do projeto (OBRIGATÓRIO para conceitos A ou A+)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**